accelerate==1.11.0
chromadb==1.0.21
fastapi==0.121.0
graphiti-core==0.22.0
httpx==0.28.1
langchain-chroma==1.0.0
langchain-openai==1.0.2
langchain-text-splitters==1.0.0
langgraph==1.0.2
neo4j==6.0.2
nest-asyncio==1.6.0
networkx==3.5
numpy==1.26.4
openai==1.109.1
pandas==2.3.3
psycopg[binary]==3.2.12
psycopg2-binary==2.9.11
pydantic==2.12.3
python-dotenv==1.2.1
scikit-learn==1.7.2
tiktoken==0.12.0
uvicorn[standard]==0.38.0
